@import url('https://fonts.googleapis.com/css?family=Questrial|Caveat+Brush');

nav {
	background-color: #fff;
	margin: 0 6em 0 6em;

}

body{
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	color: #5C595B;
	line-height: 1.7em;
}

a {
	background-color: #fff;
	color: #0CC6CB;
	text-decoration: none;
	display: block;
	float: right;
	padding: .5em 2em .5em 2em;
	margin: .8em 0 0 0;
}

h1{
	font-family: 'Caveat Brush', cursive;
	font-size: 8em;
	line-height: 1em;
	font-style: italic;
	font-weight: bold;
	color: #0CC6CB;
	text-align: center;
}

h2{
	font-size:	1.5em;
	font-weight: normal;
	color: #0CC6CB;
}

h3{
	font-size: 3em;
	font-weight: bold;
	color: #0CC6CB;
	line-height: 1.2em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a:hover {
	background-color: #0CC6CB;
	color: white;
}

#intro-video {
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: auto;
}

.welcome-cta {
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em .5em 1em;
	display: inline-block;
	background-color: #0CC6CB;
}

#who-we-are-copy, #services-copy, #coaching-copy, #blog-article-copy, #contact-manos, #business-network-copy	{
	width: 50%;
	float: left;
	background-color: #fff;
/*	background-color: red;*/
}

#who-we-are-image, #services-image, #coaching-image, #blog-article-image, #contact-maria, #business-network-image	{
	width: 50%;
	float: right;
	background-color: #fff;
/*	background-color: blue;*/
}

#couch-video	{
	z-index: -1;
	left: 0px;
	top: 0px;
	width: 100%;
	height: auto;
}

.video-cta {
	color: #0CC6CB;
	text-decoration: none;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	padding: .5em 1em .5em 1em;
	background-color: white;
	display: inline-block;
}

.blue-cta {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em .5em 1em;
	display: inline-block;
	background-color: #0CC6CB;
	margin: 4em 0em 4em 0em;
}

.white-cta {
	color: #0CC6CB;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em .5em 1em;
	display: inline-block;
	background-color: white;
	margin: 4em;
}

.connect-cta {
	color: #0CC6CB;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em .5em 1em;
	display: inline-block;
	background-color: #fff;
	margin: 0em 0em 0em 1em;
}

section#download {
    background: url(../images/sixty_second.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

input {
	width: 500px;
}

input[type=text], input[type=email]{
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	color: #5C595B;
	line-height: 1.7em;
	padding: .2em .8em;
	margin: 1em 0 0 0;
	box-sizing: border-box;
	border: 2px solid #E4E2E5;
	border-radius: 4px;
}

input[type=text]:focus, input[type=email]:focus {
	border: 2px solid #C1BFC2;
	outline: none;
}

input[type=submit] {
	background-color: #0CC6CB;
	border: none;
	color: #fff;
	padding: .7em 1em;
	text-decoration: none;
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	margin: 1em 0 2em 0;
	border-radius: 4px;
}




footer {
	color: #fff;
	text-align: center;
	background-color: #0CC6CB;
	padding: 20px;

}
