@import url('https://fonts.googleapis.com/css?family=Questrial|Caveat+Brush');

* { margin:0; padding:0; box-sizing:border-box; }

nav {
	background-color: #fff;
	padding: 1em;
	position: fixed;
	top: 0;
}

body{
	font-family: 'Questrial', sans-serif;
	font-size: 1.1em;
	color: #5C595B;
	line-height: 1.7em;
}

h1{
	font-family: 'Caveat Brush', cursive;
	font-size: 6em;
	line-height: 1em;
	font-style: italic;
	font-weight: bold;
	color: #0CC6CB;
	text-align: center;
	margin: 2em 0 0 0;
}

h2{
	font-size:	1.5em;
	font-weight: normal;
	color: #0CC6CB;
	padding: 0 0 1.5em 0;

}

h3{
	font-size: 3em;
	font-weight: bold;
	color: #0CC6CB;
	line-height: 1.2em;
	padding: 0 0 1.5em 0;

}

h4{
	font-size: 1.4em;
	font-weight: normal;
	color: #0CC6CB;
	line-height: 1.2em;
	padding: 0 0 0.5em 0;
}

h5{
	font-size: 1.1em;
	font-weight: bold;
	color: #5C595B;
	line-height: 1.2em;
}

#logo {
	height: 10%;
	width: 10%;
}


.nav-links {
	background-color: #fff;
	color: #0CC6CB;
	text-decoration: none;
	display: block;
	float: right;
	padding: .5em 2em .5em 2em;
	margin: .8em 0 0 0;
	font-size: 1.2em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.nav-links:hover {
	background-color: #0CC6CB;
	color: white;
}

#intro {
	text-align: center;
}

#into-video {
	position: absolute;
	top: 0;
	z-index: -1;
	left: 0;
	width: 100%;
}

 #welcome-cta{
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em .5em 1em;
	display: inline-block;
	background-color: #0CC6CB;
	text-align: center;
	margin: 2em 0;
	border-radius: 0.3em;
}

#welcome-cta:hover {
	background-color: white;
	color: #0CC6CB;
}


.columns-copy {
	width: 50%;
	padding: 3% 7%;
	float: left;
	height: 34em;
	margin: 11em 0;
	background-color: white;
}

.columns-image {
	width: 50%;
	float: left;
	height: 34em;
	margin: 11em 0;
	background-color: white;

}

#couch-head {
	text-align: center;
	/*padding: 2.2em 0 0 0;*/
	font-size: 3em;
	font-weight: bold;
	color: #0CC6CB;
	line-height: 1.2em;
}

#on-the-couch-link {
	text-decoration: none;
}

iframe {
	height: 600px;
	width: 100%;
	margin: 4em 0em 4em;
}

.blue-cta {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em .5em 1em;
	display: inline-block;
	background-color: #0CC6CB;
	margin: 4em 0em 4em 0em;
	border-radius: 0.3em;
}

#download {
	background: url(../images/sixty_second.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: center;
}

#sixty-sec {
	text-align: center;
	padding: 5em 0 0 0;
	font-size: 3em;
	font-weight: bold;
	color: #0CC6CB;
	line-height: 1.2em;
}

#sixty-claim {
	text-align: center;
	padding: 2em 0 3.5em 0;
	font-size: 1.1em;
	font-weight: bold;
	color: #5C595B;
	line-height: 1.7em;
}


.white-cta {
	color: #0CC6CB;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em .5em 1em;
	display: inline-block;
	background-color: white;
	margin: 4em;
	border-radius: 0.3em;
}

.connect-cta {
	color: #0CC6CB;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em 1em .5em 1em;
	display: inline-block;
	background-color: #fff;
	margin: 0em 0em 0em 1em;
	border-radius: 0.3em
}

#contact-copy {
	margin: 15% 25% 0 25%;
	text-align: center;
}

#contact-form {
	text-align: center;
}

#contact-manos {
	width: 20%;
	margin: 3% 2.5% 3% 27.5%;
	float: left;
	background-color: #fff;
	text-align: center;
	min-width: 192px;
}

#contact-maria {
	width: 20%;
	margin: 3% 27.5% 3% 2.5%;
	float: left;
	background-color: #fff;
	text-align: center;
	min-width: 192px;
}

.contact-email {
	text-decoration: none;
	color: #5C595B;
}

input {
	width: 500px;
}

input[type=text], input[type=email]{
	font-family: 'Questrial', sans-serif;
	font-size: 1.1em;
	color: #5C595B;
	line-height: 1.7em;
	padding: .2em .8em;
	margin: 1em 0 0 0;
	box-sizing: border-box;
	border: 0.08em solid #E4E2E5;
	border-radius: 0.3em;
}

input[type=text]:focus, input[type=email]:focus {
	border: 0.08em solid #C1BFC2;
	outline: none;
}

input[type=submit] {
	background-color: #0CC6CB;
	border: none;
	color: #fff;
	padding: .7em 1em;
	text-decoration: none;
	font-family: 'Questrial', sans-serif;
	font-size: 1.1em;
	margin: 1em 0 2em 0;
	border-radius: 0.3em;
}



footer {
	color: #fff;
	text-align: center;
	background-color: #0CC6CB;
	padding: 1.3em;
}

#copyright-footer {
	padding: 0.4em;
}

.couch-header {
	padding: 0 0 0 0;
	line-height: auto;
	text-align: center;
}

#blurb {
	margin: 1%;
	padding: 1% 7%;
}

.next-links {
	color: white;
	text-decoration: none;
}

#previous{
	text-decoration: none;
	display: block;
	float: left;
	text-transform: uppercase;
	width: 16%;
	text-align: center;
	padding: .5em 1em .5em 1em;
	margin: 1% 52% 4% 8%;
	background-color: #0CC6CB;
	border-radius: 0.3em;
}

#next {
	text-decoration: none;
	display: block;
	float: left;
	width: 16%;
	text-transform: uppercase;
	text-align: center;
	padding: .5em 1em .5em 1em;
	margin: 1% 0 4% 0;
	border-radius: 0.3em;
	background-color: #0CC6CB;
}

#one-next-links {
	text-decoration: none;
	display: block;
	width: 16%;
	text-transform: uppercase;
	text-align: center;
	padding: .5em 1em .5em 1em;
	margin: 1% 0% 4% 76%;
	border-radius: 0.3em;
	background-color: #0CC6CB;
	color: white;
}

.copy-link {
	color: #5C595B;
}

.podcast-episode-left {
	width: 20%;
	float: left;
	text-align: center;
	margin: 2% 1.5% 2% 17%;
	height: 30em;
	border: 1px solid #f2f2f2;
	background-color: white;
}

.podcast-episode-middle {
	width: 20%;
	float: left;
	text-align: center;
	margin: 2% 1.5% 2% 1.5%;
	height: 30em;
	border: 1px solid #f2f2f2;
	background-color: white;
}

.podcast-episode-right {
	width: 20%;
	float: left;
	text-align: center;
	margin: 2% 17% 2% 1.5%;
	height: 30em;
	border: 1px solid #f2f2f2;
	background-color: white;
}

.podcast-title {
	padding: 1.2em 0 0 0;
}

.ep-number {
	padding: 0.2em 0 0 0;
}

.podcast-intro {
	padding: 1em 2.5em;
	text-align: left;
	text-decoration: none;
	color: #5C595B;
}

#contact-page-blurb {
	margin: 1% 27.5% 3% 27.5%;
	text-align: center;
}

#contact-page-form {
	text-align: center;
	margin: 0 0 7% 0;
}

#contact-page-form input {
	width: 45%;
}

.heading-drop {
	padding: 2.2em 0 0 0;
}























@media only screen and (max-width: 1900px) {
	.columns-copy {
	margin: 8em 0;
	}

	.columns-image {
	margin: 8em 0;
	}
}

@media only screen and (max-width: 1800px) {
	.columns-copy {
	margin: 6em 0;
	}

	.columns-image {
	margin: 6em 0;
	}
}


@media only screen and (min-width: 1800px) {
	h1 {
		font-size: 9em;
	}
	#logo {
		width: 8%;
		height: 8%;
	}

}

@media only screen and (max-width: 1900px) {
	.columns-copy {
		margin: 0 0;
	}

	.columns-image {
		margin: 0 0;
	}

	h1 {
		margin: 1em;
	}

}

@media only screen and (max-width: 1600px) {

	.podcast-intro {
		font-size: 0.8em;
	}

	.podcast-episode-right, .podcast-episode-left, .podcast-episode-middle {
		height: 27em;
	}
}


@media only screen and (min-width: 1500px) {
	h1 {
		font-size: 8em;
	}

	#logo {
		width: 7%;
		height: 7%;
	}
}

@media only screen and (max-width: 1400px) {
	.podcast-episode-right, .podcast-episode-left, .podcast-episode-middle {
		float: none;
		width: 47%;
		margin: 3% auto;
		height: 32em;
	}

	.podcast-intro {
		font-size: 0.7.5em;
		text-decoration: none;
	}

	.episode-link {
		text-decoration: none;
	}


}

@media only screen and (max-width: 1200px) {
	.podcast-episode-right, .podcast-episode-left, .podcast-episode-middle {
		height: 30em;
	}


@media only screen and (max-width: 980px) {
	.nav-links {
		float: none;
		width: auto;
		text-align: center;
	}

	.columns-copy, .columns-image{
		float: none;
		width: 90%;
		margin: 0 auto;
		height: auto;
	}

	h2 {
		padding: 1em;
	}

	h3 {
		text-align: center;
		padding: 1em;
	}

	#logo {
		min-width: 100px;
	}

	.podcast-episode-right, .podcast-episode-left, .podcast-episode-middle {
		height: 28em;
	}

	#intro-video {
		display: none;
	}

	#intro {
		background: url(../images/welcome.png);
   		background-size: cover;
    	background-repeat: no-repeat;
    	width: 100%;
	}

}

@media only screen and (max-width: 960PX) {

	#contact-manos {
		width: 30%;
		margin: 0 2.5% 0 17.5%;
		float: left;
		background-color: #fff;
		text-align: center;
		min-width: 192px;
	}

	#contact-maria {
		width: 30%;
		margin: 0 17.5% 0 2.5%;
		float: left;
		background-color: #fff;
		text-align: center;
		min-width: 192px;
	}

	iframe {
	height: 500px;
	}

}

@media only screen and (max-width: 780PX) {
	
	iframe {
		height: 450px;
	}	

	#sixty-sec {
		font-size: 2.5em;
	}

	h3 {
		text-align: center;
		padding: 1em;
		font-size: 2.6em;
	}

	.podcast-episode-right, .podcast-episode-left, .podcast-episode-middle {
		height: 29em;
		margin: 4% auto;
		width: 67%;
	}

}


@media only screen and (max-width: 650PX) {

	h2 {
		padding: 1em;
		font-size: 1.2em;
	}

	h3 {
		text-align: center;
		padding: 1em;
		font-size: 2.2em;
	}

	#contact-manos {
		width: 41.5%;
		margin: 0 2.5% 0 5%;
		float: left;
		background-color: #fff;
		text-align: center;
		min-width: 192px;
	}

	#contact-maria {
		width: 41.5%;
		margin: 0 5% 0 2.5%;
		float: left;
		background-color: #fff;
		text-align: center;
		min-width: 192px;
	}

	.columns-copy, .columns-image{
		float: none;
		width: 90%;
		margin: 0 auto;
		height: auto;
	}

	#couch-head {
		font-size: 2.2em;
	}

	#sixty-sec {
		font-size: 2em;
	}

	input {
	width: 450px;
	}

	iframe {
		height: 400px;
	}

}



@media only screen and (max-width: 580PX) {
	
	#contact-manos, #contact-maria {
	float: none;
	margin: 0 auto;
	padding: 1em 0;
	}

	iframe {
	height: 320px;
	}

	input {
	width: 400px;
	}

	.podcast-episode-right, .podcast-episode-left, .podcast-episode-middle {
		width: 90%;
	}
	
}


@media only screen and (max-width: 500PX) {
	
	h2 {
		padding: 1em;
		font-size: 1.2em;
	}

	h3 {
		text-align: center;
		padding: 1em;
		font-size: 2em;
	}

	body {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: 450PX) {
	h3 {
		font-size: 1.7em;
	}
}
@media only screen and (max-width: 430PX) {
	
	iframe {
	height: 250px;
	}

	input {
	width: 370px;
	}
}
