h1{
	font-family: Century, sans-serif;
	font-size: 90px;
	font-weight: bold;
	color: #0CC6CB;
	text-align: center;
}

h3{
	font-family: Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: #0CC6CB;
}

h5{
	font-family: Arial, sans-serif;
	font-size:	30px;
	color: #0CC6CB;
}

body{
	font-family: Arial, sans-serif;
	font-size: 24px;
	color: #5C595B;
}

#slogan{
	font-style: italic;
}